html {
    box-sizing: border-box;
    font-size: 62.5%;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
    background-color: #0C00FF;

}


body::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 1.6rem;
    /* font-size 1.6rem is now the same as 16px */
    line-height: 1.6;

    background-attachment: fixed;


}


.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.gif {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    max-width: 90vw;
}

.gif img {
    display: block;
    height: auto;
    max-width: 100%;
}

.button-center {
    position: relative;
    display: inline-block;
}

.button-center img {
    display: block;
    width: 100%;
    height: auto;
}

.gif-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 0.25rem .125rem;

    cursor: pointer;
}

.gif-button a {
    text-decoration: none;
    color: black;
}

.mobile {
    display: none;

}

#three-container canvas {
    position: fixed;
    inset: 0;
    z-index: -1;
}

@media (max-width: 640px) {

    .text-block {
        max-width: 60vw;
    }

    .text-block p {
        font-size: 1.8rem;
        line-height: 2.2rem;
        text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }

    .mobile {
        display: block;

    }

}