html {
    box-sizing: border-box;
    font-size: 62.5%;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
}


body::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 1.6rem;
    /* font-size 1.6rem is now the same as 16px */
    line-height: 1.6;
    background: linear-gradient(180deg, white, red);

    background-attachment: fixed;
    height: 100%; 
    overflow: hidden;

}


#cube-text-1 {
    position: absolute;


    transform: translate(-50%, 0%);
    /* background: rgba(0,0,0,0.7); */
    color: white;
    font-size: 5rem;
    white-space: nowrap;
}

#cube-text-2 {
    position: absolute;
    text-align: left;


    transform: translate(0%, 70%);
    /* background: rgba(0,0,0,0.7); */
    color: white;
    font-size: 1.6rem;
    white-space: nowrap;
}

#cube-text-3 {
    position: absolute;

    transform: translate(50%, 100%);

    /* background: rgba(0,0,0,0.7); */
    color: white;
    font-size: 2.6rem;
    white-space: nowrap;
}